<header class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <div class='row nav-flex'>
      <div class='logo col-md-2'>
        <img src="img/logo.png" alt="Bitly clone logo" width="140">
      </div>
      <div class='col-md-10'>
        <ul class='nav navbar-nav'>
          <li class='nav-item'>Link</li>
          <li class='nav-item'>Link</li>
          <li class='nav-item'>Link</li>
        </ul>
      </div>
    </div>
  </div>
</header>

<main>
  <section class="hero-bg">
    <div class='container'>
      <div class="row">
        <div class="hero-wrapper">
          <div class='col-xs-12 text-center'>
            <h1>Welcome to bitly</h1>
            <p>We're gonna make long stuff shorter. Yay!</p>
            <form action="/urls" method="post">
              <input class='url-form' type="text" name="ori_url" placeholder="Enter URL">
              <input class='btn-submit' type="submit" value="Submit">
            </form>
        </div>
      </div>
     </div>
   </div>
  </section>

  <section id="url-output" class='container'>
    <div class='row'>
      <div class='col-xs-12 text-center'>
         <div class='url-output-wrapper'>
           <h1>Your shortened url is:</h1>

           <%= @errors if @errors %>

           <table>
             <thead>
               <tr>
                 <th>No</th>
                 <th>Original URL</th>
                 <th>Short URL</th>
                 <th>Click Count</th>
               </tr>
             </thead>
             <tbody>
               <% @url.each do |x| %>
               <tr>
                 <td><%=x.id %></td>
                 <td><%=x.ori_url %></td>
                 <td><a href="<%=x.ori_url %>"><%=x.short_url %></a></td>
                 <td></td>
               </tr>
               <% end %>
             </tbody>
           </table>

         </div>
       </div>
     </div>
   </section>

</main>
